<% if session[:token].present? %>
  <header>
    <div class="container">

      <h1>Minimal Twitter</h1>
      <p>
        <%= session[:username] %>
        <a href="/logout">Log out</a>
      </p>
    </div>
  </header>

  <section>
    <div class="container">
      <% @tweets.each do |tweet| %>
        <div class="tweet">
          <h2><%= Rinku.auto_link(tweet.full_text, :all, "target='_blank'").html_safe %></h2>

          <div class="info">
            <p>
              <img src="<%= tweet.user.profile_image_uri_https %>">
              <%= tweet.user.screen_name %>
            </p>
            <p>
              <%= tweet.retweet_count %> retweets
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </section>

<% else %>
  <header>
    <div class="container">
      <h1>Minimal Twitter</h1>
      <p>
        <a href="/auth/twitter">Log in with Twitter</a>
      </p>
    </div>
  </header>
<% end %>